.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  background-color: #98c1d9;
  font-family: cursive;
}
.headerContent h2 {
  margin-left: 20px;
  color: #3d5a80;
}
.background {
  background-color: #293241;
}
