.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  background-color: royalblue;
}
.headerContent h2 {
  margin-left: 20px;
  color: aliceblue;
}
.background {
  background-color: cornflowerblue;
}
