.contact span {
  text-decoration: underline;
  color: #ee6c4d;
}
.contact p {
  font-size: 25px;
  color: #98c1d9;
}
.contact h1 {
  font-size: 40px;
  text-decoration: underline;
  font-family: cursive;
  color: #ee6c4d;
}
.contact {
  display: inline-block;
  flex-direction: column;
  width: 50vw;
  text-align: center;
  padding-top: 200px;
  padding-left: 50px;
}
.contact a {
  color: #ee6c4d;
}
