.aboutContent {
  height: 80vh;
  width: 100vw;
  display: inline-block;
  font-family: cursive;
}
.aboutContent img {
  float: right;
  max-width: 40vw;
  max-height: 80vh;
}
.aboutMe {
  display: inline-block;
  flex-direction: column;
  width: 50vw;
  text-align: center;
  padding-top: 200px;
  padding-left: 50px;
}
.aboutMe p {
  font-size: 25px;
  color: #98c1d9;
}
.aboutMe h1 {
  font-size: 40px;
  font-family: cursive;
  color: #ee6c4d;
}
.aboutMe a {
  color: #ee6c4d;
}
