.resumeLi li {
  font-size: 25px;
  color: #98c1d9;
}
.resume {
  display: inline-block;
  flex-direction: column;
  width: 50vw;
  text-align: center;
}
.resume img {
  float: right;
  max-width: 40vw;
  max-height: 80vh;
}
.resume {
  height: 80vh;
  width: 100vw;
  display: inline-block;
  font-family: cursive;
}
.resumeLi h1 {
  color: #ee6c4d;
}
