.footerContent {
  background-color: #ee6c4d;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.footerContent a {
  padding-top: 10px;
}
